appnope==0.1.0
backcall==0.1.0
boto3==1.9.193
botocore==1.12.193
certifi==2019.6.16
console-progressbar==1.1.1
decorator==4.4.0
docutils==0.14
future==0.17.1
ipdb==0.12
ipython==7.6.1
ipython-genutils==0.2.0
jedi==0.14.1
jmespath==0.9.4
minio==4.0.18
parso==0.5.1
pause==0.2
pexpect==4.7.0
pickleshare==0.7.5
prometheus-client==0.7.1
prompt-toolkit==2.0.9
ptyprocess==0.6.0
Pygments==2.7.4
python-dateutil==2.8.0
pytz==2019.1
s3transfer==0.2.1
six==1.12.0
terminal-banner==0.2.0
traitlets==4.3.2
urllib3==1.25.3
wcwidth==0.1.7
